*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background: #f1f1f1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section {
  height: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.section h2 {
  text-align:center;
  background: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 60px;
  margin-bottom: 40px;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.p{
    height: 100vh;
    display: flex;
    justify-content: center; 
    
      
}

.text2{
    text-align:center;
    background: #f1f1f1;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.text3{
    text-align:center;
    background: #f1f1f1;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text4{
  text-align:start;
  background: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text5{
  text-align:start;
  background: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text6{
  text-align:start;
  background: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text7{
  text-align:start;
  background: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text8{
    text-align:start;
    background: #f1f1f1;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }



.sommaire{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.s1 {
  background-image: url(image/image0.jpg);
}
.s2 {
  background-image: url(image/image2.webp);
}
.s3 {
  background-image: url(image/image3.webp);
}
.s4 {
  background-image:url(image/image4.webp);
}
.s5{
  background-image: url(image/image5.webp);
}

.s6{
  background-image: url(image/image6.webp);
}

.s7{
  background-image: url(image/image7.webp);
}

.s8{
  background-image: url(image/image8.webp);
}