*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background: #f1f1f1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section {
  height: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.section h2 {
  text-align:center;
  background: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 60px;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section h3 {
  text-align:center;
  background: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
  text-align:center;
  background: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 60px;
  margin-bottom: 40px;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.p{
    height: 100vh;
    display: flex;
    justify-content: center; 
    
      
}

.text9{
    text-align:left;
    background: #f1f1f1;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text10{
  text-align:left;
  background: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text11{
  text-align:left;
  background: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text12{
  text-align:left;
  background: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text13{
  text-align:left;
  background: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text14{
  text-align:left;
  background: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text15{
  text-align:left;
  background: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text16{
  text-align:left;
  background: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section a img {
  width: 50px; /* Taille de la flèche */
  height: auto;
  transform: scaleX(-1);
  display:flex;
  justify-content: flex-end;
}




.s9{
  background-image: url(image/image9.webp);
}

.s10 {
  background-image: url(image/image10.webp);
}

.s11 {
  background-image: url(image/image11.webp);
}

.s12 {
  background-image: url(image/image12.webp);
}

.s13 {
  background-image: url(image/image13.webp);
}

.s14 {
  background-image: url(image/image14.webp);
}

.s15 {
  background-image: url(image/image15.webp);
}

.s16 {
  background-image: url(image/image16.webp);
}

.custom-button {
  background-color: #4CAF50; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #45a049; 
}